* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.footer {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    font-size: x-large;
    color: #5c59ec;
}

#areas {
    background: url("images/Screenshot_1.png") center no-repeat;
    background-size: contain;
}

#visualization_container {
    border: 3px solid #3398db;
    height: 325px;
    width: 325px;
}

.selected {
    color: white !important;
    background-color: #FF9200 !important;
    box-shadow: 2px 2px 0 #996AD6 !important;
}

.error {
    box-shadow: 0 4px 4px #94002D !important;
    border-color: #94002D !important;
    background-color: #E40045 !important;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

header {
    margin: 1%;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p {
    color: #3498db;
    margin-top: 0.7%;
    font-family: sans-serif;
    font-size: 27px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

form {
    min-height: 480px;
    width: 31%;
    margin: 2%;
    box-shadow: 0 0 0 3px rgb(226 226 226);
    background: #fff;
    border-radius: 6px;
    opacity: inherit;
}

.form__container {
    width: 99%;
}

form p {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    color: #545454;
}


.button_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.selected {
    border: 4px solid rgb(226, 240, 27);
    user-select: none;
}

#form__input__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#form__radio__wrapper {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.radio_input {
    margin-left: 2%;
}

.radio_label {
    margin-left: 1%;
}

.y_button {
    height: 34px;
    width: 55px;
    outline: none;
    border: 1px solid rgb(212 226 228);
    cursor: pointer;
    margin-left: 1%;
    text-align: center;
    border-radius: 18px;
    font-size: large;
    font-family: sans-serif;
    background-color: #ffffff;
    user-select: none;
}

.y_button:hover {
    transform:scale(1.2,1.2);
    user-select: none;
}

.x_input {
    width: 68%;
    height: 48px;
    font-size: x-large;
    font-family: sans-serif;
    padding: 1%;
    outline: none;
    border: 1px solid rgb(197 194 194);
    border-radius: 4px;
}

.x_input:focus {
    border: 2px solid #93b7d6;
}

#check__button__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
}

#check__button {
    width: 46%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    color: #5c59ec;
    height: 46px;
    border: 1px solid #5c59ec;
    outline: none;
    background: none;
    border-radius: 4px;
}

#check__button:disabled {
    opacity: 0.3;
}

.table_container {
    display: flex;
    height: 90%;
}
/*result of table from back*/

table {
    width: auto;
    border-collapse: collapse;
    cursor: pointer;
    margin-top: 2%;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
}

tr:hover {
    background: rgba(75,238,135,0.34);
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table {
        width: 70%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
}

/*simple but flexible radio-buttons style*/

.radio-button {
    position: relative;
    margin: 20px 0;
    display: flex;
}

.radio-button input {
    position: absolute;
    margin: 5px;
    padding: 0;
    /* for mobile accessibility (iOS Label Bug) */
    visibility: hidden;
}
.radio-button .label-visible {
    margin-left: 2em;
    margin-bottom: 0;
}

.fake-radiobutton {
    position: absolute;
    display: block;
    top: 0;
    left: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid slategray;
    background-color: white;
}
.fake-radiobutton:after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #5C59EC;
    transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton { border-radius: 50%; }
.fake-radiobutton:after { border-radius: 50%; }

input[type="radio"]:checked + span .fake-radiobutton:after { display: block; }


h1 { font-family: Arial,Helvetica,sans-serif; }